name: Build Android & Web App
on:
  push:
    branches: [ main ]

jobs:
  build-android:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.41.0'

      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/upload-keystore.jks
          echo "${{ secrets.GOOGLE_SERVICES_JSON_BASE64 }}" | base64 --decode > android/app/google-services.json

      - name: Build App Bundle
        run: flutter build appbundle
        env:
          BOARD_STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
          BOARD_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          BOARD_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          BOARD_STORE_FILE: android/app/upload-keystore.jks

      - name: Upload APK
        uses: actions/upload-artifact@v6
        with:
          name: app-release
          path: build/app/outputs/bundle/release/app-release.aab

  build-web:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v6

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.41.0'

      - name: Build Web
        run: flutter build web --release

      - name: Copy static files to web build
        run: cp web/privacy.html build/web/ && cp web/404.html build/web/

      - name: Upload Web Build
        uses: actions/upload-artifact@v6
        with:
          name: web-build
          path: build/web

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
